@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
h3,h2,h4{
    font-family: 'Fredoka One', cursive;
}
button{
    font-family: 'Fredoka One', cursive;
}